body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.hero {
    background: linear-gradient(90deg, rgb(243, 85, 85) 0%, rgba(123, 158, 255, 1) 100%);
    color: white;
    text-align: center;
    padding: 100px 0;
    padding-top: 170px;
}
.section-title{
    font-family: 'Pacifico', cursive;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.img-container {
    display: inline-block;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #007bff;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.nav-item {
    padding: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.section-title {
    text-align: center;
    margin: 40px 0;
    color: #007bff;
}

.section-title h2 {
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 3px solid #007bff;
}

.info:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    color: #343a40;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 4px solid #ddd;
}

.contact-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    transition: background-color 0.3s;
    color: #343a40;
}

.contact-form .form-control {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-info {
    text-align: center;
    margin: 40px 0;
}

.contact-info .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #007bff;
}

.contact-info .info-item {
    margin-bottom: 20px;
}

.info {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s;
    color: #343a40;
}
.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #d3d3d3;
}


/* css for dark mode */
.dark-mode {
    background-color: #343a40;
    color: #e0e0e0;
}

.dark-mode .navbar {
    background-color: #222;
}

.dark-mode .hero {
    background-color: #2234ae;
background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

.dark-mode .section-title h2 {
    border-color: rgb(72, 210, 72);
    color: #5ee1f5;
}

.dark-mode .project-item {
    background-color: #3C3C3C;
    color: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dark-mode .project-item:hover {
    background-color: #5a5a5a;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.dark-mode .footer {
    background-color: #222;
    border-top: 4px solid #444;
}

.dark-mode .contact-form {
    background-color: #454545;
    color: #e0e0e0;
}

.dark-mode .contact-info .icon {
    color: #5ee1f5;
}

.dark-mode .contact-form button {
    background-color: royalblue;
}

.dark-mode .contact-form button:hover {
    background-color: green;
    color: whitesmoke;
}

.dark-mode .info {
    background-color: #5a5a5a;
    color: #e0e0e0;
}

.dark-mode .info:hover {
    background-color: #6d6d6d;
}